<div class="container">
    <h1>My Cart</h1>
<h2>€ 100 item</h2>
<div class="d-flex">
    <div class="btn-group" role="group" aria-label="Toolbar">
      <button type="button" class="btn btn-success" (click)="addInCart()"><i class="fas fa-plus"></i></button>
      <button type="button" class="btn btn-primary" (click)="removeFromCart()"><i class="fas fa-minus"></i></button>
      <button type="button" class="btn btn-warning" (click)="resetCart()"><i class="fas fa-redo"></i></button>
    </div>
  </div>
  
    <p>{{currentCart | async}} items in the cart</p>
    <p>Total: € {{total | async}}</p>
    <br>
    <a routerLink="/profile" routerLinkActive="active">My Profile</a>
</div>




  